rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{user} {
      match /songs/{song} {
        // Users can read any song as long as its theirs
        allow read: if request.auth != null && request.auth.uid == user;

        // Users can update any song as long as its theirs and its valid
        allow update: if request.auth != null &&
          request.auth.uid == user &&
          isValidSong(request.resource.data);

        // Valid song:
        // name - non-blank string
        // author - string
        function isValidSong(doc) {
          return doc.keys().hasOnly(['name', 'author']) &&
            doc.name is string && doc.name.size() > 0 &&
            doc.author is string;
        }
      }
    }
  }
}
