@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  --ui-dark: #111;
  --ui-light: #eee;

  font-family: "Roboto", Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

@layer components {
  .btn-primary {
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    @apply bg-primary;
  }

  input[type="email"],
  input[type="password"] {
    padding: 10px;
    border-radius: 10px;
    outline: none;
    @apply text-foreground;
  }
}

input[disabled],
button[disabled] {
  opacity: 0.5;
}
