@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  --primary: #ff5151;
  --ui-dark: #111;
  --ui-dark-secondary: #222;
  --ui-light: #eee;

  font-family: Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: var(--ui-light);
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--ui-dark);
    color: var(--ui-light);
  }
}

@layer components {
  .btn-primary {
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--primary);
  }
}

input[type="email"],
input[type="password"] {
  padding: 10px;
  border-radius: 10px;
  outline: none;
  color: var(--ui-dark);
}

input[disabled],
button[disabled] {
  opacity: 0.5;
}

a {
  margin-right: 1rem;
}

@media (min-width: 480px) {
  h1 {
    max-width: none;
  }

  p {
    max-width: none;
  }
}
